body {
	margin:0;
	padding:0;
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:62.5%;
	color:#303131;
	background-color:#fff;
	background-image:none;
}

#content {
	margin:0 1em 4em 1em;
	padding:0;
	font-size:130%;
}

div.sitehf { margin:0 20px; }

h1 {
	font-size:150%;
	font-weight:normal;
	margin:10px 0 32px 0;
}

h2 {
	font-size:110%;
	margin:8px 0 0;
	padding:0;
	color:#666;
}

div.box {
	width:60em;
	border:1px solid #ccc;
	padding:0 0 1em;
	margin:16px 0 16px 0;
}

div.liner {
	padding-left:0.5em;
	padding-right:0.5em;
}

div.box h3 {
	font-size:100%;
	font-weight:bold;
	margin:0 0 0.5em;
	color:#000;
	padding:4px 0 4px 0.5em;
	border-bottom:1px solid #deb887;
	background-color:#f5deb3;
}

div.box h4 {
	font-size:100%;
	font-weight:bold;
	color:#666;
	margin:1em 0 0.25em 0;
	padding:0;
}

table.files {
	margin:1em 0 1em 0;
}

table.files td {
	margin:0;
	padding:0 0 0.5em 0;
}

a {
	color:#00f;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

form {
	margin:0;
	padding:0;
}

p.error {
	color:#c00;
}

div.box2 {
	width:99%;
	border:1px solid #ccc;
	padding:0.5em 0.5em 1em 0.5em;
	margin:16px 0 16px 0;
}

textarea {
	width:98%;
	overflow:auto;
}

table.suppdata {
	margin:2em 0 1em 0;
	border:1px solid #d8d8d8;
	padding:0;
}

table.suppdata th {
	margin:0;
	padding:0.2em 0;
	font-weight:bold;
	text-align:center;
}

table.suppdata td {
	margin:0;
	padding:0.2em 1em;
	border-top:1px dotted #d8d8d8;
	border-right:1px dotted #d8d8d8;
}

table.suppdata.xtra td {
	padding:2em 1em;
	vertical-align:middle;
}

table.suppdata.xtra td.raise { vertical-align:top; }

table.suppdata td.rhs {
	border-right:none;
}

table.suppdata td.first {
	border-top:none;
}

p#cancel { margin-top:-16px; padding-top:0; }

.inp1 { width:480px }

select.air { margin-bottom:6px; }

span.tick { color:#0c0; font-size:120%; font-family:Arial Unicode MS; }

table.suppdata.xtra table.nofluff {
	margin:1em 0 0 0;
	padding:0;
	border:none;
}

table.suppdata.xtra table.nofluff td {
	margin:0;
	padding:0;
	border:none;
}

table.suppdata.xtra table.nofluff td.left { padding-right:3em; }
table.suppdata.xtra table.nofluff td.below { padding-top:1em; }

.hide { display:none; }

.sz1 { width:8em; }

table.std td, table.std th {
	text-align:left;
	font-weight:normal;
	vertical-align:top;
}

table.std th {
	font-weight:bold;
	padding-right:2em;
}

table.std td.col1 { padding-right:2em }

table.std td.vgap { padding-top:0.75em }

table.vgap { margin-top:1em }
