@charset "UTF-8";

p.alert
{
	background-color:#FFCECE;
	border:2px solid red;
	border-radius:.5em;
	margin:0;
	padding:1em;
}

.green-btn {margin:2em 0em;}
.green-btn a {border:none; margin:0; padding:0; background-color:transparent; text-align:center; text-decoration:none;}
.green-btn a span {padding:0.8em; background-color:#090; color:#fff; font-weight:bold; border-radius:0.5em; background-image:url(../img/btn-bg.jpg); background-position:center; background-repeat:repeat-x; border:none; font-size:1.1em;}

.green-btn a:hover {cursor: pointer;}