body {
	margin:0;
	background-image:none;
	background-color:#fff;
}

div.canvas {
	margin:0 1em;
}

div.oulife-hdr-fix {
	margin:0;
	padding:0;
	font-family:verdana,sans-serif;
	font-size:80%;
	line-height:130%;
}

form input.tx {
	font-family:sans-serif;
}

h1 {
	color:#000;
	margin:1em 0 0 1em;
	padding:0;
}

div.smc-params {
	background-image: url("../img/canvas-bg.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    padding:0 1em 0;
}

.qual-path h2 {
	font-size:1.25em;
}

td {
	padding:0.5em 0;
}

td.smc-left {
	width:8em;
}

div.smc-params a {
	color:#009;
	text-decoration:underline;
}

input.inp8 {
	width:6em;
	margin-left:1em;
}

#quallist, #pathlist {
	width:40em;
}

#countrylist, #pricearea {
	width:26em;
}

#fetchbtn { width:16em; }

p.attn {background-color:#FFE5E5; color:#000; padding:0.5em;}

#loadingmsg {
	position:absolute;
	top:188px;
	left:280px;
	background-color:#f1f6fa;
	text-align:center;
	font-size:140%;
	color:#000;
	z-order:99;
	padding:16px 50px;
	border:4px solid #e3f0f8;
	font-family:arial,sans-serif;
}
